.tp-caption.ms-layer centext text1{top:250px;border-width:0px;border-color:rgb(34,34,34);border-style:none}

.ms-layer centext text1{top:250px;border-width:0px;border-color:rgb(34,34,34);border-style:none}